.accountBalance {
    position: absolute;
    top: 2.5px;
    left: 600px;
    font-size: 12px;
    width: 100px;
    margin: 0;
    line-height: unset;
    height: 45px;

    ul {
        padding: 0;
        margin: 0;

        li {
            line-height: 22.5px;
            height: 22.5px;
            padding: 0;
            list-style: none;
        }
    }
}