.scalerWrapper {
    width: 800px;
}

.bitmexScaler {
    width: 800px;
    position: absolute;
    animation: fade1 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @keyframes fade1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .drag {
        background: linear-gradient(to left, #000000, #434343);
        position: absolute;
        border-top: 1px solid rgba(117, 117, 117, 0.486);
        border-right: 1px solid rgba(117, 117, 117, 0.486);
        border-left: 1px solid rgba(117, 117, 117, 0.486);
        width: 100.2%;
        height: 30px;
        top: 20px;
        left: -1px;
    }

    .blur {
        position: absolute;
        display: none;
        background-color: rgba(255, 255, 255, 0.157);
        width: 800px;
        height: calc(100% - 50px);
        left: 0;
        z-index: 3;
        top: 50px;
    }

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label.switch {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: rgb(153, 21, 21);
        display: block;
        border-radius: 100px;
        position: relative;
        left: 14px;
        top: 3px;
        transform: translateX(-50%);
    }

    label.switch:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked+label {
        background: #088a0e;
    }

    input:checked+label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 30px;
    }
}

.scalerAuthentication {
    width: 800px;
    margin-top: 50px;
    background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
    border: 1px solid rgb(107, 94, 94);
    padding: 25px 0 0 0;
    color: white;
    // border-radius: 10px;
    text-align: center;
    user-select: none;

    .note {
        font-size: 19px;
    }

    .bitmexLinks {
        li {
            font-size: 17px;
            list-style-type: none;
        }
    }

    ul.platform {
        text-align: center;
        display: flex;
        width: 250px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        height: 30px;
        margin-bottom: 15px;

        li {
            position: absolute;
            right: 0;
            width: 40%;
            list-style-type: none;

            &:first-of-type {
                left: 0;
                right: unset;
            }

            label {
                margin: 10px;
            }
        }

        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 50px;
            height: 25px;
            background: grey;
            display: block;
            border-radius: 100px;
            position: relative;
            left: 50%;
            top: 2px;
            transform: translateX(-50%);
        }

        label:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 5px;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
        }

        input:checked+label {
            background: #2658a1;
        }

        input:checked+label:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 30px;
        }
    }

    .authWrapper {
        input {
            margin-bottom: 10px;
            height: 35px;
            font-size: 15px;
            width: 450px;
            background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
            border: 1px solid rgb(107, 94, 94);
            padding: 0 5px;
            margin-top: 5px;
            color: white;
        }
    }

    .nextButton {
        background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
        border: 1px solid rgb(107, 94, 94);
        color: white;
        width: 250px;
        height: 40px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

}

.scalerInterface {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 700px;
    width: 800px;
    margin-top: 50px;
    background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
    border: 1px solid rgb(107, 94, 94);
    padding: 25px 0;
    color: white;
    // border-radius: 10px;
    overflow: hidden;

    .backButton {
        position: absolute;
        bottom: 28px;
        left: 20px;
        font-size: 15px;
        cursor: pointer;
    }

    .serverResponse {
        color: rgb(243, 51, 51);
        margin-top: 20px;
        font-size: 15px;
        text-align: center;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .leverage {
        margin-top: -1px;

        label {
            text-align: center;
        }

        input {
            width: 200px;
            height: 31px;
            font-size: 15px;
            color: white;
            text-align: center;
            background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
            border: 1px solid rgb(107, 94, 94);
        }
    }

    .sideInstrumentWrapper {
        display: flex;
        text-align: center;

        .instrument {
            width: 50%;

            select {
                width: 200px;
                background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
                border: 1px solid rgb(107, 94, 94);
                color: white;

                option {
                    color: black;
                }
            }
        }

        .side {
            width: 50%;
            height: 80px;

            ul {
                margin-left: 50%;
                margin-top: 28px;
                transform: translateX(-50%);
                display: flex;
                width: 230px;
                justify-content: space-between;

                li {
                    list-style-type: none;

                    label {
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    .inputsWrapper {
        text-align: center;
        display: flex;
        justify-content: space-around;
        position: relative;

        div {

            position: relative;
        }

        label {
            font-size: 15px;
            text-align: center;
        }

        input {
            width: 130px;
            font-size: 15px;
            height: 30px;
            color: white;
            text-align: center;
            background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
            border: 1px solid rgb(107, 94, 94);
        }
    }



    .buttonWrapper {
        width: 400px;
        position: relative;
        display: flex;
        justify-content: space-between;
        left: 50%;
        transform: translateX(-50%);
    }

    button.previewButton {
        width: 40%;
        height: 40px;
        outline: none;
        background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
        border: 1px solid rgb(107, 94, 94);
        color: white;
    }

    button.submitButton {
        width: 40%;
        height: 40px;
        outline: none;
        border: 1px solid rgb(107, 94, 94);
        background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
        color: white;
    }
}

div.preview {
    .previewTitlesWrapper {
        display: flex;
        position: relative;

        .coin {
            margin-left: 40px;
        }

        .amount {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .price {
            position: absolute;
            right: 20px;
        }
    }

    ul {
        position: relative;

        li {
            display: flex;

            .amountPreview {
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
            }

            .pricePreview {
                position: absolute;
                right: 20px;
                text-align: center;
            }
        }
    }
}