@mixin mobile {
    @media (max-width: 640px) {
        @content;
    }
}

@mixin s-mobile {
    @media (max-width: 470px) {
        @content;
    }
}

.forgotPassword {
    // background: linear-gradient(to top, #353535, #484849);
    background-color: rgb(124, 124, 124);
    background-color: rgb(179, 179, 179);
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 625px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(105, 105, 105, 0.65);
    animation: fade1 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 99;

    @include s-mobile {
        max-width: 100vw;
        width: 100vw;
    }

    @keyframes fade1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    * {
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    div.responseError {
        color: red;
        font-size: 15px;
        position: absolute;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    div.error {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
        margin-top: -20px;
        color: rgb(245, 94, 94);

        @include mobile {
            width: 100%;
        }
    }

    .close {
        position: absolute;
        right: 10px;
        top: 0px;
        font-size: 35px;
        color: rgb(37, 37, 37);
        cursor: pointer;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 25px;
        margin-top: 25px;
        color: black;
    }

    label {
        font-size: 16px;
        color: black;
        // color: rgb(226, 226, 226);
    }

    input {
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        padding: 0 8px;
        font-size: 17px;
        margin-bottom: 25px;
        margin-top: 5px;
    }

    input[type=submit] {
        height: 45px;
        font-size: 18px;
        border: none;
        color: white;
        background: linear-gradient(65deg, #0275e1 0, #198ffd 100%);
        cursor: pointer;

        &:hover {
            background: linear-gradient(65deg, #026dd1 0, #167edf 100%);
        }
    }

    .note {
        font-size: 12px;
        margin-top: 5px;
        color: rgb(199, 14, 14);
        font-weight: bold;
    }
}