.shortsLongsCounter {
    width: 900px;
    height: 70px;
    display: flex;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(107, 94, 94);
    background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
    box-sizing: border-box;
    top: 50px;
    color: white;
    left: 50%;
    user-select: none;
    transform: translateX(-50%);
    animation: fade1 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @keyframes fade1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        background-color: transparent;
        position: absolute;
        left: 50.4%;
        border-left: 1px solid rgba(117, 117, 117, 0.486);
        width: 100px;
        height: 100px;
    }

    .draggable {
        border-bottom: 1px solid black;
        position: absolute;
        width: 100%;
        top: 0px;
        height: 20px;
    }

    .shortsWrapper,
    .longsWrapper {
        width: 50%;
        display: flex;
        text-align: center;
        line-height: 70px;

        h1 {
            font-size: 25px;
            width: 150px;
            height: 100%;
            // background-color: orange;
            color: rgb(4, 143, 4);
            margin: 0;
            padding: 0;
            line-height: inherit;
        }

        h1.shortsTitle {
            color: rgb(180, 14, 14);
        }

        .percentage {
            width: 100px;
        }

        .number {
            width: 200px;
            height: 100%;
        }
    }
}

.fa-asterisk {
    animation: spin-around infinite 4s;
    font-size: 30px;
}

.fa-circle-notch {
    animation: spin-around infinite 5s;
    font-size: 30px;
}

div.loader {
    width: 900px;
    margin-top: 35px;
    transform: translate(-4%, -50%);
    margin-left: 225px;
}


@keyframes spin-around {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(1440deg)
    }
}

.tradingviewChart {
    position: absolute;
    width: 800px;
    height: 400px;
    top: 100px;

    .drag {
        position: absolute;
        background: linear-gradient(to left, #000000, #434343);
        top: -25px;
        border-top: 1px solid rgba(117, 117, 117, 0.486);
        border-right: 1px solid rgba(117, 117, 117, 0.486);
        border-left: 1px solid rgba(117, 117, 117, 0.486);
        width: 100%;
        height: 25px;
    }

    .blur {
        position: absolute;
        display: none;
        background-color: rgba(255, 255, 255, 0.157);
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 3;
        top: 0;
    }
}

.technicalAnalysisWidget {
    position: absolute;
    height: 420px;
    top: 30px;

    iframe {
        width: 400px;
        height: 395px;
        margin-top: 30px;
    }

    .drag {
        background: linear-gradient(to left, #000000, #434343);
        position: absolute;
        border-top: 1px solid rgba(117, 117, 117, 0.486);
        border-right: 1px solid rgba(117, 117, 117, 0.486);
        border-left: 1px solid rgba(117, 117, 117, 0.486);
        width: 100%;
        height: 30px;
    }

    .blur {
        position: absolute;
        display: none;
        background-color: rgba(255, 255, 255, 0.157);
        width: 400px;
        height: 395px;
        left: 0;
        z-index: 3;
        top: 30px;
    }
}

.marketDataWidget {
    position: absolute;
    height: 490px;
    width: 780px;
    right: 0;
    top: 50px;

    iframe {
        position: absolute;
    }

    .drag {
        background-color: rgba(153, 153, 153, 0.226);
        position: absolute;
        background: linear-gradient(to left, #000000, #434343);
        border-top: 1px solid rgb(151, 151, 151);
        border-right: 1px solid rgb(151, 151, 151);
        border-left: 1px solid rgba(117, 117, 117, 0.486);
        width: 100%;
        height: 30px;
    }

    .blur {
        position: absolute;
        display: none;
        background-color: rgba(255, 255, 255, 0.157);
        width: 780px;
        height: 460px;
        left: 0;
        z-index: 3;
        top: 30px;
    }
}