.userOptions {
    position: absolute;
    width: 90px;
    right: 20px;
    top: -2px;
    margin-top: 10px;
    margin-left: 20px;

    button {
        background-color: transparent;
        color: white;
        position: relative;
        text-align: center;
        top: -1px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 100%;
        line-height: 37px;

        i {
            cursor: pointer;
            font-size: 22px;

            &:hover .options {
                display: inline;
            }
        }
    }

    .options {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin: 0;
        padding: 0;
        right: 0px;
        border-radius: 5px;
        overflow: hidden;

        .logout {
            text-decoration: none;
            color: black;
            width: 100%;
            margin-left: 50%;
            transform: translateX(-50%);
            height: 30px;
            padding: 0;
            border-radius: 5px;
            background-color: rgb(42, 116, 177);
            position: relative;
            color: white;

            &:hover {
                background-color: rgb(32, 101, 158);
            }

            a {
                margin: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 150px;
                padding: 0;
                position: absolute;
                text-align: center;

                i {
                    margin-left: 10px;
                }
            }
        }

        li {
            color: black;
            padding: 6px 30px;
            text-decoration: none;
            display: block;
            font-size: 15px;
            cursor: pointer;
            display: flex;
            position: relative;
            text-decoration: line-through;
            width: 100%;

            .icon {
                position: absolute;
                right: 30px;

                i {
                    color: rgb(78, 78, 78);
                }
            }


        }

        .logout {
            text-decoration: none;
        }

        .settings {
            text-decoration: none;
        }
    }
}

// .options li {
//     color: black;
//     padding: 6px 12px;
//     text-decoration: none;
//     display: block;
//     font-size: 15px;
//     cursor: pointer;
//     display: flex;
//     position: relative;

//     div.title {
//         margin-left: 25px;
//     }

//     div.icon {
//         position: absolute;
//         left: 10px;
//         color: rgb(35, 199, 6);
//     }
// }

.options li:hover {
    background-color: #f1f1f1;
}

.options .logoutSet:hover {
    background-color: inherit;
}

.userOptions:hover .options {
    display: block;
}