.scalerWrapper {
  width: 800px;
}

.bitmexScaler {
  width: 800px;
  position: absolute;
}

.scalerAuthentication {
  width: 800px;
  margin-top: 50px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
  padding: 25px 0 0 0;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.scalerAuthentication .note {
  font-size: 19px;
}

.scalerAuthentication .bitmexLinks li {
  font-size: 17px;
  list-style-type: none;
}

.scalerAuthentication ul.platform {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.scalerAuthentication ul.platform li {
  width: 50%;
  list-style-type: none;
}

.scalerAuthentication ul.platform li label {
  margin: 10px;
}

.scalerAuthentication .authWrapper input {
  margin-bottom: 10px;
  height: 35px;
  font-size: 15px;
  width: 350px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
  color: white;
}

.scalerAuthentication .nextButton {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
  color: white;
  width: 250px;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.scalerInterface {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 700px;
  width: 800px;
  margin-top: 50px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
  padding: 25px 0;
  color: white;
  border-radius: 10px;
}

.scalerInterface .serverResponse {
  color: #f33333;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.scalerInterface::-webkit-scrollbar {
  display: none;
}

.scalerInterface input[type=number]::-webkit-inner-spin-button,
.scalerInterface input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scalerInterface .leverage {
  margin-top: -1px;
}

.scalerInterface .leverage label {
  text-align: center;
}

.scalerInterface .leverage input {
  width: 200px;
  height: 31px;
  font-size: 15px;
  color: white;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
}

.scalerInterface .sideInstrumentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.scalerInterface .sideInstrumentWrapper .instrument {
  width: 50%;
}

.scalerInterface .sideInstrumentWrapper .instrument select {
  width: 200px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
  color: white;
}

.scalerInterface .sideInstrumentWrapper .instrument select option {
  color: black;
}

.scalerInterface .sideInstrumentWrapper .side {
  width: 50%;
  height: 80px;
}

.scalerInterface .sideInstrumentWrapper .side ul {
  margin-left: 50%;
  margin-top: 28px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scalerInterface .sideInstrumentWrapper .side ul li {
  list-style-type: none;
}

.scalerInterface .sideInstrumentWrapper .side ul li label {
  padding: 0 10px;
}

.scalerInterface .inputsWrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.scalerInterface .inputsWrapper div {
  position: relative;
}

.scalerInterface .inputsWrapper label {
  font-size: 15px;
  text-align: center;
}

.scalerInterface .inputsWrapper input {
  width: 130px;
  font-size: 15px;
  height: 30px;
  color: white;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
}

.scalerInterface .buttonWrapper {
  width: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scalerInterface button.previewButton {
  width: 40%;
  height: 40px;
  outline: none;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  border: 1px solid #6b5e5e;
  color: white;
}

.scalerInterface button.submitButton {
  width: 40%;
  height: 40px;
  outline: none;
  border: 1px solid #6b5e5e;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3b3939), color-stop(#383535), color-stop(#343131), color-stop(#312d2d), to(#2e2929));
  background-image: linear-gradient(to right top, #3b3939, #383535, #343131, #312d2d, #2e2929);
  color: white;
}

div.preview .previewTitlesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

div.preview .previewTitlesWrapper .coin {
  margin-left: 40px;
}

div.preview .previewTitlesWrapper .amount {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div.preview .previewTitlesWrapper .price {
  position: absolute;
  right: 20px;
}

div.preview ul {
  position: relative;
}

div.preview ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.preview ul li .amountPreview {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

div.preview ul li .pricePreview {
  position: absolute;
  right: 20px;
  text-align: center;
}
/*# sourceMappingURL=BitmexScaler.css.map */